.turingNode {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.turingNodeSelected {
  fill: white;
  stroke: red;
  stroke-width: 1px;
}

.turingNode text {
  fill: black;
}

.turingPath {
  stroke: black;
  stroke-width: 1px;
}

.turingPathSelected {
  stroke: blue;
  stroke-width: 1px;
}
